.GameList {
    display: flex;
    
}

@media screen and(min-width:320px){
    .GameList {
        display: flex;
        flex-direction: column;
    }
}


article {
    background-color: rgba(161, 0, 182, 0.391);
    height: 200px;
    width: 320px;
    margin: 20px;
    border: 3px solid black;
}

/*Jumper Game*/
.JumperGame #JPperson {
    height: 40px;
    width: 10px;
    background-color: rgb(255, 0, 0);
    position: relative;
    top: 80%;
    left: 40%;
    animation: jumpPJperson 0.999s infinite;
}

@keyframes jumpPJperson {
    0%{
        top: 80%;
    }

    30%{
        top: 35%;
    }

    100%{
        top: 80%;
    }
}

.JumperGame #JPobject {
    height: 30px;
    width: 5px;
    background-color: rgba(30, 255, 0, 0.782);
    position: relative;
    top: 65%;
    left: 90%;
    animation: slidePjobject 2s infinite linear;
}

@keyframes slidePjobject {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
